*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(220, 219, 219);
}
/* HEADER */
.header-logo{
  padding: 8px 18px;
  background-color: white;
  
}
.logo{
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
}

.logo-text{
  vertical-align: middle;
  display: inline-block;
}
/* /HEADER */

/* MAIN */
.container{
  width: 70%;
  margin: 0 auto;
  background-color: white;
  
}
/* BUTTON */
.button-section{
  height: 50px;
  margin-top: 40px;
  padding-left: 40px;
  padding-top: 10px;
}

.task-button{
  background-color: #47adf1;
  border-radius: 5%;
  border: none;
  height: 25px;
  width: 60px;
  font-size: 12px;
  color: white;
  margin-top: 6px;
}

.section-button{
  background-color: white;
  border-radius: 5%;
  border: 1px solid #c9ced3;
  height: 25px;
  width: 75px;
  font-size: 12px;
  color: #c9ced3;
  margin-top: 6px;
}
/* BUTTON */

/* LIST */
.container-list{
  border-top:2px solid #c9ced3;
  padding: 15px;
  text-align: left;
}

.title{
  font-size: 25px;
  font-style:bold;
}
.menu{
  list-style-type: none;
  font-size: 15px;
}

.today-list{
  padding-top: 30px;
}

.space-botlist{
  padding-bottom: 20px;
}

.check-do{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: green;
  border: 1px solid green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 10px;
}

.check-none{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: red;
  border: 1px solid red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 10px;
}

.editorial{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: #47adf1;
  padding:5px;
}

.q1-goals{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: #9c72e4;
  padding:5px;
}

.recruiting{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: lightseagreen;
  padding:5px;
}

.mobile{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: orange;
  padding:5px;
}

.websites{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: #d863a1;
  padding:5px;
}

.sales{
  text-align: center;
  color: white;
  border-radius: 10px 10px 10px 10px; 
  background-color: #b0c925;
  padding:5px;
}
/* /LIST */

/* /MAIN */